extend: opensilex-front#phis

stylesheets:
    - variables.scss

excludes:
    - _auth.scss
    - _main.scss
    - main.css

fonts:
    - family: Eras Light ITC
      style: normal
      weight: normal
      url: fonts/eras-light/eras-light.eot
      src:
        opentype: fonts/eras-light/eras-light.otf
        svg: fonts/eras-light/eras-light.svg
        truetype: fonts/eras-light/eras-light.ttf
        woff: fonts/eras-light/eras-light.woff
        woff2: fonts/eras-light/eras-light.woff2
        
