.alert {
    border: none;
    .close {
	    font-size: 18px;
	    padding: 12px 15px;
	}
}
.jq-icon-info {
    background-color: var(--color-info);
    color: var(--color-white);
    border: none;
}
.jq-icon-warning {
    background-color: var(--color-warning);
    color: var(--color-white);
}
.jq-icon-error {
    background-color: var(--color-danger);
    color: var(--color-white);
}
.jq-icon-success {
    color: var(--color-white);
    background-color: var(--color-success);
}
.jq-toast-single, .jq-toast-single h2 {
    font-family: 'Nunito Sans', sans-serif;
}