.badge {
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 600;
    &.badge-top-left {
	    top: 7px;
	    right: 10px;
	}
	&.badge-top-left-2 {
	    top: 40px;
	    right: 10px;
	}
}
.badge-primary, .badge-success, .badge-info, .badge-warning, .badge-danger, .badge-inverse, .badge-purple, .badge-pink, .badge-twitter, .badge-facebook, .badge-linkedin, .badge-google, .badge-dribbble, .badge-instagram {
    color: var(--color-white);
}
.badge-theme {
    background-color: var(--color-theme);
}
.badge-aqua {
    background-color: var(--color-aqua);
}
.badge-blue {
    background-color: var(--color-blue);
}
.badge-light-blue {
    background-color: var(--color-light-blue);
}
.badge-teal {
    background-color: var(--color-teal);
}
.badge-yellow {
    background-color: var(--color-yellow);
}
.badge-orange {
    background-color: var(--color-orange);
}
.badge-green {
    background-color: var(--color-green);
}
.badge-lime {
    background-color: var(--color-lime);
}
.badge-red {
    background-color: var(--color-red);
}
.badge-fuchsia {
    background-color: var(--color-fuchsia);
}
.badge-navy {
    background-color: var(--color-navy);
}
.badge-empty {
    background: var(--color-empty);
}
.badge-primary {
    background-color: var(--color-primary);
}
.badge-success {
    background-color: var(--color-success);
}
.badge-info {
    background-color: var(--color-info);
}
.badge-warning {
    background-color: var(--color-warning);
}
.badge-danger {
    background-color: var(--color-danger);
}
.badge-muted {
    background-color: var(--color-muted);
}
.badge-inverse {
    background-color: var(--color-inverse);
}
.badge-purple {
    background-color: var(--color-purple);
}
.badge-pink {
    background-color: var(--color-pink);
}
.badge-white {
    background-color: var(--color-white);
}
.btn {
	.badge {
	    padding: 2px 6px;
	}
}