.br-wrapper {
    margin: 20px 0 50px;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
    clear: both;
    padding: 0;
    font-size: 13px;
    color: #757575;
    font-weight: 400;
}

.br-theme-bars-reversed .br-widget .br-current-rating {
    clear: both;
    padding: 0;
    line-height: 2;
    font-size: 13px;
}

.br-theme-bars-movie .br-widget .br-current-rating {
    color: #757575;
    font-weight: 400;
    text-align: left;
}

.br-theme-bars-horizontal,
.br-theme-bars-reversed {
    .br-widget .br-current-rating {
        color: #757575;
        font-weight: 400;
        font-size: 13px;
    }
}

span.value {
    display: inline;
}

.current-rating {
    position: relative;
    top: -50px;
    &.hidden {
        display: none;
    }
}

.your-rating {
    position: relative;
    top: -50px;
    &.hidden {
        display: none;
    }
}

.br-theme-bars-1to10,
.br-theme-bars-movie,
.br-theme-bars-reversed,
.br-theme-bars-horizontal {
    .br-widget a {
        background-color: color-mix(in srgb, var(--color-primary) 80%, white);
        &.br-active,
        &.br-selected {
            background-color: var(--color-primary);
        }
    }
}

.br-theme-bars-pill {
    .br-widget a {
        background-color: color-mix(in srgb, var(--color-primary) 80%, white);
        color: var(--color-primary);
        &.br-active,
        &.br-selected {
            background-color: var(--color-primary);
        }
    }
}

.br-theme-fontawesome-stars {
    .br-widget {
        a.br-active:after,
        a.br-selected:after {
            color: var(--color-primary);
        }
    }
}

.br-theme-css-stars {
    .br-widget {
        a.br-active:after,
        a.br-selected:after {
            color: var(--color-primary);
        }
    }
}

.br-theme-bars-square {
    .br-widget a {
        border: 2px solid color-mix(in srgb, var(--color-primary) 80%, white);
        color: color-mix(in srgb, var(--color-primary) 92%, white);
        &.br-active,
        &.br-selected {
            border: 2px solid var(--color-primary);
            color: var(--color-primary);
        }
    }
}

.br-theme-fontawesome-stars-o {
    .br-widget {
        a.br-selected:after,
        a:after,
        a.br-active:after,
        a.br-fractional:after {
            color: var(--color-primary);
        }
    }
}
