html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

  //global colors
  --color-dark: #212121;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}


[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}


optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
*, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
* {
    outline: none !important;
}
a {
  text-decoration: none;
  transition: color .2s;
  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: #212121;
  }
}

$element-color: 'primary' var(--color-primary), 'warning' var(--color-warning), 'danger' var(--color-danger), 'success' var(--color-success), 'inverse' var(--color-inverse), 'info' var(--color-info);

$i: 0;
@while $i<=50 {
    .p {
        &#{$i} {
            padding: #{$i}px !important;
        }
        &t-#{$i} {
            padding-top: #{$i}px !important;
        }
        &b-#{$i} {
            padding-bottom: #{$i}px !important;
        }
        &l-#{$i} {
            padding-left: #{$i}px !important;
        }
        &r-#{$i} {
            padding-right: #{$i}px !important;
        }
    }

    .m {
        &#{$i} {
            margin: #{$i}px !important;
        }
        &t-#{$i} {
            margin-top: #{$i}px !important;
        }
        &b-#{$i} {
            margin-bottom: #{$i}px !important;
        }
        &l-#{$i} {
            margin-left: #{$i}px !important;
        }
        &r-#{$i} {
            margin-right: #{$i}px !important;
        }
    }
    $i: $i+5;
}
$i: 10;
@while $i<=80 {
    .f-#{$i} {
        font-size: #{$i}px;
    }
    $i: $i+2;
}

$i: 100;
@while $i<=900 {
    .fw-#{$i} {
        font-weight: #{$i};
    }
    $i: $i+100;
}

$i: 20;
@while $i<=100 {
    .img-#{$i} {
        width: #{$i}px;
    }
    $i: $i+10;
}
@each $value in $element-color {
    .b-t-#{nth($value, 1)} {
        border-top: 1px solid #{nth($value, 2)};
    }

    .b-b-#{nth($value, 1)} {
        border-bottom: 1px solid #{nth($value, 2)};
    }

    .b-l-#{nth($value, 1)} {
        border-left: 1px solid #{nth($value, 2)};
    }

    .b-r-#{nth($value, 1)} {
        border-right: 1px solid #{nth($value, 2)};
    }

    .b-#{nth($value, 1)} {
        border: 1px solid #{nth($value, 2)};
    }
}
.bg-default {
    background-color: var(--color-default) !important;
}
.bg-theme {
    background-color: var(--color-theme) !important;
}
.bg-aqua {
    background-color: var(--color-aqua) !important;
}
.bg-blue {
    background-color: var(--color-blue) !important;
}
.bg-light-blue {
    background-color: var(--color-light-blue) !important;
}
.bg-teal {
    background-color: var(--color-teal) !important;
}
.bg-yellow {
    background-color: var(--color-yellow) !important;
}
.bg-orange {
    background-color: var(--color-orange) !important;
}
.bg-green {
    background-color: var(--color-green) !important;
}
.bg-lime {
    background-color: var(--color-lime) !important;
}
.bg-red {
    background-color: var(--color-red) !important;
}
.bg-fuchsia {
    background-color: var(--color-fuchsia) !important;
}
.bg-navy {
    background-color: var(--color-navy) !important;
}
.bg-empty {
    background: var(--color-empty) !important;
}
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-success {
    background-color: var(--color-success) !important;
}
.bg-info {
    background-color: var(--color-info) !important;
}
.bg-warning {
    background-color: var(--color-warning) !important;
}
.bg-danger {
    background-color: var(--color-danger) !important;
}
.bg-muted {
    background-color: var(--color-muted) !important;
}
.bg-inverse {
    background-color: var(--color-inverse) !important;
}
.bg-purple {
    background-color: var(--color-purple) !important;
}
.bg-pink {
    background-color: var(--color-pink) !important;
}
.bg-white {
    background-color: var(--color-white) !important;
}
.bg-facebook {
    background-color: var(--color-facebook) !important;
}
.bg-twitter {
    background-color: var(--color-twitter) !important;
}
.bg-google {
    background-color: var(--color-google) !important;
}
.bg-linkedin {
    background-color: var(--color-linkedin) !important;
}
.text-default {
    color: var(--color-default) !important;
}
.text-blue {
    color: var(--color-blue) !important;
}
.text-light-blue {
    color: var(--color-light-blue) !important;
}
.text-teal {
    color: var(--color-teal) !important;
}
.text-navy {
    color: var(--color-navy) !important;
}
.text-lime {
    color: var(--color-lime) !important;
}
.text-orange {
    color: var(--color-orange) !important;
}
.text-yellow {
    color: var(--color-yellow) !important;
}
.text-aqua {
    color: var(--color-aqua) !important;
}
.text-white {
    color: var(--color-white) !important;
}
.text-danger {
    color: var(--color-danger) !important;
}
.text-green {
    color: var(--color-green) !important;
}
.text-primary {
    color: var(--color-primary) !important;
}
.text-warning {
    color: var(--color-warning) !important;
}
.text-success {
    color: var(--color-success) !important;
}
.text-info {
    color: var(--color-info) !important;
}
.text-inverse {
    color: var(--color-inverse) !important;
}
.text-pink {
    color: var(--color-pink) !important;
}
.text-purple {
    color: var(--color-purple) !important;
}
.text-dark {
    color: var(--color-dark) !important;
}
.text-fuchsia {
    color: var(--color-fuchsia) !important;
}
.text-red {
    color: var(--color-red) !important;
}
.text-facebook {
    color: var(--color-facebook) !important;
}
.text-twitter {
    color: var(--color-twitter) !important;
}
.text-instagram {
    color: var(--color-instagram) !important;
}
.text-google {
    color: var(--color-google) !important;
}
.text-linkedin {
    color: var(--color-linkedin) !important;
}
.text-behance {
    color: var(--color-behance) !important;
}
.text-dribbble {
    color: var(--color-dribbble) !important;
}
.text-red {
    color: var(--color-red) !important;
}

.min-width-zero {
    min-width: 0;
}
.w-10 {
    width: 10%!important
}
.w-90 {
    width: 90%!important
}
.w-12 {
    width: 12%!important
}
.w-88 {
    width: 88%!important
}
.w-15 {
    width: 15%!important
}
.w-85 {
    width: 85%!important
}
.w-20 {
    width: 20%!important
}
.w-80 {
    width: 80%!important
}
.w-30 {
    width: 30%!important
}
.w-70 {
    width: 70%!important
}
.w-40 {
    width: 40%!important
}
.w-60 {
    width: 60%!important
}

.hidden {
    display: none !important;
}

.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
@include mq('tablet-wide', 'max') {
    .w-sm-100 {
        width: 100%!important;
    }
}
@include mq('tablet', 'max') {
    .w-xs-100 {
        width: 100%!important;
    }
}