.*
.*/
!/.gitignore
target/
node_modules/
**/nb-configuration.xml
**/front/dist
**/front/src/lib
**/front/types
opensilex-doc/src/main/resources/generated/
**/inrae-sixtine
**/opensilex-data-analysis
**/inrae-bigdatagrapes
**/*.iml
opensilex-front/front/src/opensilex.dev.ts
owasp-dependency-check-logs
site
kotlin.log
opensilex-main/dependency-reduced-pom.xml
opensilex-front/front/src/opensilex.dev.ts
reports_log/*
