[submodule "phis-ws"]
	path = phis-ws
	url = https://github.com/OpenSILEX/phis-ws.git
	branch = opensilex-module
[submodule "opensilex-front-app"]
	path = opensilex-front-app
	url = git@forgemia.inra.fr:OpenSILEX/sixtine/opensilex-front-app.git
[submodule "opensilex-dev-tools-front"]
	path = opensilex-dev-tools-front
	url = git@forgemia.inra.fr:OpenSILEX/sixtine/opensilex-dev-tools-front.git
