*.flattened-pom.xml
.*
.*/
!/.gitignore
/target/
/opensilex/target/
/opensilex-core/target/
/opensilex-dev-tools/target/
/opensilex-parent/target/
/phis-ws/phis2-ws/target/
/opensilex-module/target/
/opensilex-release/target/
/opensilex-doc/target/
/opensilex-doc.test/target/
/opensilex-si-ue/src/main/angular/nbproject/private/
/opensilex-si-ue/target/
/opensilex-front-ng/target/
/opensilex-module-with-ng/target/