[submodule "phis-ws"]
	path = phis-ws
	url = https://github.com/OpenSILEX/phis-ws.git
	branch = opensilex-module
[submodule "opensilex-angular"]
	path = opensilex-angular
	url = git@forgemia.inra.fr:OpenSILEX/sixtine/opensilex-front-app.git
[submodule "opensilex-angular-dev"]
	path = opensilex-angular-dev
	url = git@forgemia.inra.fr:OpenSILEX/sixtine/opensilex-dev-tools-front.git
