[submodule "opensilex-deref"]
	path = opensilex-deref
	url = git@forge.inrae.fr:OpenSILEX/dereferencement/opensilex-deref.git
[submodule "opensilex-report"]
	path = opensilex-report
	url = git@forge.inrae.fr:OpenSILEX/dereferencement/opensilex-report.git
