.*
.*/
!/.gitignore
target/
node_modules/
**/nb-configuration.xml
**/front/dist
**/front/src/lib
**/front/types
opensilex-doc/src/main/resources/generated/
**/inrae-sixtine
**/opensilex-data-analysis
**/inrae-bigdatagrapes
**/*.iml
opensilex-front/front/src/opensilex.dev.ts
/opensilex-front-tests/e2e/test-results/
/opensilex-front-tests/e2e/playwright-report/
