{{#apiInfo}}
{{#apis}}
import { {{classname}} } from './{{importPath}}';
{{#withInterfaces}}
import { {{classname}}Interface }  from './{{importPath}}Interface';
{{/withInterfaces}}
{{/apis}}
{{/apiInfo}}

export class ApiServiceBinder {
    public static with(container: any) {
        {{#apiInfo}}
        {{#apis}}
        container.bind("{{classname}}").to({{classname}}).inSingletonScope();
        {{/apis}}
        {{/apiInfo}}
    }
}
