{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "swagger client for {{{npmName}}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "swagger-client"
  ],
  "license": "Unlicense",
  "main": "dist/index.js",
  "typings": "dist/index.d.ts",
  "scripts": {
    "build": "tsc --outDir dist/",
    "postinstall": "echo export interface ModelObject {}; > ./model/modelObject.ts && yarn run build",
    "check:outdated": "yarn outdated || cd .",
    "check:security": "yarn audit || cd .",
    "check:browserlist": "yarn add caniuse-lite && yarn remove caniuse-lite",
    "build:types": "dts-generator --project $(pwd) --out ../../types/{{{npmName}}}.d.ts --prefix {{{npmName}}}"
  },
  "dependencies": {
    "inversify": "^4.3.0",
    "node-fetch": "^2.6.0",
    "whatwg-fetch": "~2.0.1",
    "reflect-metadata": "0.1.8"
  },
  "devDependencies": {
    "@types/node": "^12.12.14",
    "dts-generator": "^3.0.0"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
