{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "swagger client for {{{npmName}}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "swagger-client"
  ],
  "license": "Unlicense",
  "main": "dist/index.js",
  "typings": "dist/index.d.ts",
  "scripts": {
    "build": "tsc --outDir dist/",
    "postinstall": "echo export interface ModelObject {}; > ./model/modelObject.ts && yarn run build",
    "check:outdated": "npm outdated || cd .",
    "check:security": "npm audit || cd .",
    "check:browserlist": "npm add caniuse-lite && yarn remove caniuse-lite",
    "build:types": "npm-dts generate -f -L debug --root $(pwd) --output ../../types/{{{npmName}}}.d.ts "
  },
  "dependencies": {
    "inversify": "^4.3.0",
    "node-fetch": "^2.6.0",
    "whatwg-fetch": "~2.0.1",
    "reflect-metadata": "0.1.8"
  },
  "devDependencies": {
    "@types/node": "20",
    "npm-dts": "^1.3.13"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
