{
    "compilerOptions": {
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "noImplicitAny": false,
        "target": "es2020",
        "module": "es2020",
        "moduleResolution": "bundler",
        "removeComments": true,
        "sourceMap": true,
        "outDir": "./dist",
        "noLib": false,
        "declaration": true,
        "lib": [ "es2020", "dom" ]
    },
    "exclude": [
        "node_modules",
        "dist"
    ],
    "filesGlob": [
        "./model/*.ts",
        "./api/*.ts"
    ]
}
