/*********************************
* GLOBAL STYLE
*********************************/
body {
    display: flex;
}

.wrapper {
    flex: 1;
}

.bg-phis-green {
    background-color: #00A38D
}

.inline-action .inline-action-btn {
    margin-left: 5px;
    border: 1px solid #D8DDE5;
    border-radius: 5px;
    padding: 3px 3px 0px 3px;
    visibility: hidden;
}

.inline-action:hover .inline-action-btn {
    visibility: visible;
}

.inline-action .inline-action-btn:hover {
    background-color: #D8DDE5;
}

.wrapper .page-wrap .main-content .page-header .page-header-title .uri i {
    float: none;
    width: inherit;
    height: inherit;
    border-radius: 5px;
    margin-right: 0;
    vertical-align: middle;
    font-size: 1em;
    color: inherit;
    display: inline-flex;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.badge-icon {
    padding: 4px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.badge-info-phis {
   background-color: #ffc107;
}

.keyword {
    margin-bottom: 2px;
}

footer {
    display: none;
}


/*************************************
* CARDS
*************************************/
.card .card-body .static-field {
    margin-bottom: 0.8em;
    font-size: 1.1em;
}

.card .card-body .static-field .static-field-key {
    display: inline-flex;
    min-width: 100px;
    font-weight: bold;
}

.card .card-body .static-field .static-field-text {
    text-align: justify;
    line-height: 1.7em;
}

.card .card-body .static-field .static-field-list {
    list-style-type: none;
    padding-left: 100px;
}

.card .card-header h3 i.ik {
    font-size: 1.5em;
    margin-right: 0.5em;
    vertical-align: bottom;
}

.card .card-header .badge {
    margin-top: 6px;
    font-size: 1.1em;
    margin-right: 1em;
}

.card .card-block .dashboard-item a {
    display: inline-block;
    height: 40px;
    width: 100%;
    font-size: 15px;
}

.card .card-block .dashboard-item-label {
    line-height: 40px;
    display: inline-block;
}

.card .card-block .dashboard-item-icon {
    float: right;
    margin-top: 8px;
    height: 24px;
    width: 24px;
    text-align: center;
}

.card .card-block .dashboard-item:hover {
    background: #f3f3f3;
    border-radius: 10px;
}

/*************************************
* LINKS
*************************************/

.main-content .table a.row-link, .card .card-body .static-field a:not(.inline-action-btn) {
    color: #3C76F4;
}

.main-content .table a.row-link:hover, .card .card-body .static-field a:hover:not(.inline-action-btn) {
    text-decoration: underline;
    color: inherit;
}

.card .card-header .card-options a.view-nav {
    width: inherit;
    color: #3C76F4;
    font-size: 1.1em;
}

.card .card-header .card-options a.view-nav:hover {
    color: inherit;
    text-decoration: underline;
}

.card .card-header .card-options a.btn {
    border-radius: 0.25rem;
}

.card .card-header .card-options a.btn-outline-primary {
    color: #007bff;
}

.card .card-header .card-options a.btn-outline-primary:hover {
    color: #fff;
}

.data-filter .filter-action .ik {
    margin-right: 0;
    font-size: 14px;
}

.data-filter .filter-action {
    padding-top: 8px;
}

/*************************************
* TABLES
*************************************/
.main-content .table .cell-filters {
    background-color: #f6f8fb;
}

.card .card-header .nb-entries-selector select {
    border-radius: 10%;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #eaeaea;
    min-height: 30px;
}

.btn-row-action {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 2px;
}

/*************************************
* NAV TABS
*************************************/

.nav-tab {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.nav-tab .nav-tab-item {
    display: inline-block;
    margin-right: 3px;
    position: relative;
}

.nav-tab .nav-tab-item .badge {
    position: absolute;
    top: -13px;
    right: -6px;
    padding: 6px 6px;
    background-color: #e6e6e6;
}

.nav-tab .nav-tab-item .nav-tab-link {
    display: inline-block;
    height: 40px;    
    line-height: 40px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;
}

.nav-tab .nav-tab-item .nav-tab-link:hover {
    background-color: #eee ;    
}

.nav-tab .nav-tab-item .nav-tab-link.active {
    border-bottom: 2px solid #00A38D;    
    font-weight: bold;
    background-color: #fff;
}

/*************************************
* MAIN NAVIGATION MENU
*************************************/
.sidebar-header {
    background-color: #00A38D
}

.sidebar-header .header-brand .text {
    margin-left: 16px;
    color: #fff
}

.sidebar-header .header-brand .text .instance-name {
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 0.5em;
}

.sidebar-content {
    padding-top: 3em
}

#main-menu-navigation .nav-item:hover, .customized #main-menu-navigation .nav-item.has-sub .submenu-content .menu-item:hover {
    background-color: #ddd
}

#main-menu-navigation .nav-item.active, .customized #main-menu-navigation .nav-item.has-sub .submenu-content .menu-item.active {
    background-color: #e9e9e9;
    font-weight: bold;
}

.customized #main-menu-navigation .nav-item.active::after {
    background: #00A38D;
    border-radius: 10px;
    color: #fff;
    content: " ";
    height: 50px;
    right: 0;
    left: inherit;
    top: 0;
    width: 4px;
}

.customized #main-menu-navigation .nav-item.open::after {
    background: none;
}

.customized #main-menu-navigation .nav-item.has-sub .submenu-content .menu-item.active {
    font-weight: bold;
    color: inherit;
}

.customized #main-menu-navigation .nav-item.has-sub.open:hover {
    background: inherit;
}

.customized #main-menu-navigation .nav-item.has-sub .submenu-content .menu-item.active::after {
    background: #00A38D;
    border-radius: 10px;
    color: #fff;
    content: " ";
    height: 40px;
    right: 0;
    top: 0;
    width: 4px;
    position: absolute
}

.customized .header-top .top-menu .dropdown .dropdown-toggle {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #D8DDE5;
    height: 30px;
    line-height: 30px;
}

.customized .header-top .top-menu .dropdown .dropdown-toggle:hover {
    background-color: #F0F1F5;
}

.customized .header-top .top-menu .dropdown .dropdown-toggle .icon {
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 5px;
}

.wrapper .page-wrap .main-content .page-header .breadcrumb-container .breadcrumb .breadcrumb-item a {
    color: #3C76F4;
}

.wrapper .page-wrap .main-content .page-header .breadcrumb-container .breadcrumb .breadcrumb-item a:hover {
    color: inherit;
}

/*********************************
* LOGIN PAGE
*********************************/
.auth-wrapper .lavalite-bg .lavalite-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(0,163,141,0.2) 0%, rgba(0,163,141,0.7) 100%);
}

.auth-wrapper .authentication-form .logo-centered {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.auth-wrapper .authentication-form .logo-centered .system-name {
    display: inline-block;
    margin-top: 1.5em;
    color: #666;
    font-size: 1.3em;
}

.trademark {
    text-align: center;
    margin-top: 2em;
    color: #666;
}

.auth-wrapper .authentication-form {
    padding-top: 20px;
}

