/* You can add global styles to this file, and also import other style files */

@import 'theme';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.form-group[required="required"] label:after {
    color: getVar(--errorColor);
    content: "*";
    margin-left: 3px;
}