<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <!-- configuration variables-->
    <property name="log.pattern" value="%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger %X{client-id} %X{host-name} %X{request-id} %X{user-id} - %msg%n" />
    <property name="default.log.level" value="WARN"/>
    <property name="opensilex.log.level" value="${opensilex.log.level:-INFO}"/>
    
    <!-- output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.opensilex.utils.LogFilter">
            <!-- Default application log level (for libraries) -->
            <level>${default.log.level}</level>
            <!-- Log level for included and excluded patterns -->
            <customLevel>${opensilex.log.level}</customLevel>
            <!-- List of logger name pattern to include at custom log level -->
            <include>org.opensilex</include>
            <include>opensilex.service</include>
            <include>test.opensilex</include>
            <!-- List of classes to include at DEBUG log level -->
            <debug>org.opensilex.unit.test.AbstractUnitTest </debug> 
            <debug>org.opensilex.integration.test.AbstractIntegrationTest</debug>            
            <debug>org.opensilex.integration.test.AbstractSecurityIntegrationTest</debug>            
            <debug>org.apache.catalina.valves.StuckThreadDetectionValve</debug>
            <!--<debug>org.opensilex.server.Server</debug>--> 
            <!--<debug>org.opensilex.sparql.rdf4j.RDF4JConnection</debug>--> 
            <!--<debug>org.opensilex.sparql.rdf4j.RDF4JServiceFactory</debug>-->
            <!--<debug>org.opensilex.sparql.service.SPARQLService</debug>-->
            <!--<debug>org.opensilex.sparql.mapper.SPARQLClassObjectMapper</debug>-->
        </filter>
	
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    
    <root>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>