<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- configuration variables-->
    <property name="logPattern" value="%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n" />
    <!--<property name="logger.level" value="INFO"/>-->
    <property name="logger.level" value="DEBUG"/>
    <property resource="app.properties" />
    
    <!-- output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logger.level}</level>
        </filter>        
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    
    <!-- define log level output for specific packages -->
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.glassfish.jersey" level="WARN"/>
    <logger name="io.swagger" level="WARN"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="org.openrdf" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.eclipse" level="WARN" />
    
    <root level="ALL">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
