<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <!-- configuration variables-->
    <property name="log.pattern" value="%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n" />
    
    <property name="default.log.level" value="WARN"/>
    <property name="opensilex.log.level" value="${opensilex.log.level:-INFO}"/>
    <!--<property name="opensilex.log.level" value="${opensilex.log.level:-DEBUG}"/>-->
    
    <!-- output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.opensilex.utils.LogFilter">
            <level>${opensilex.log.level}</level>
            <include>org.opensilex</include>
            <include>test.opensilex</include>
        </filter>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${default.log.level}</level>
        </filter> 
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    
    <root level="ALL">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
