.capitalize-first-letter {
    display: inline-block;
}

th.capitalize-first-letter,
td.capitalize-first-letter {
  display: table-cell;
}

.capitalize-first-letter::first-letter,
button::first-letter,
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
th::first-letter,
label::first-letter {
    text-transform: capitalize;
}

.field-view-title {
  min-width: 100px;
  font-weight: bold;
  display: inline-block;
}

.field-view-title::first-letter {
  text-transform: capitalize;
}

.b-toaster {
    z-index: 12000!important;
}

@import "vue-select/src/scss/vue-select.scss";

@import "../node_modules/sl-vue-tree/dist/sl-vue-tree-dark.css";

.tree-button-group {
  float: right;
}

.sl-vue-tree-title {
  width: 100%;
}

.sl-vue-tree.sl-vue-tree-root {
  border: 1px solid #dee2e6;
  background-color: white;
  color: #545454;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item {
  color: #545454;
  background-color: #e9e9e9;
}

.sl-vue-tree-node-item {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.sl-vue-tree-node-item:hover,
.sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
  color: #545454;
  cursor: pointer;
  background-color: #f3f3f3;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item:hover,
.sl-vue-tree-selected > .sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
  color: black;
  background-color: #e9e9e9;
}

.sl-vue-tree-node-item {
  border: 1px solid transparent;
}

.sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
  border: 1px solid #545454;
}

.sl-vue-tree-cursor {
  border: 1px solid #545454;
}

.sl-vue-tree-drag-info {
  color: #e9e9e9;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}

.sl-vue-tree-toggle {
  width: 13px;
}

.sl-vue-tree-toggle {
  width: 13px;
}

.sl-vue-tree-node-is-leaf .sl-vue-tree-title {
  margin-left: 18px;
}

.sl-vue-tree .item-icon {
  display: inline-block;
  text-align: center;
  width: 15px;
}

@import "../node_modules/@riophae/vue-treeselect/dist/vue-treeselect.css";

@import "../node_modules/icon-kit/dist/css/iconkit.min.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-vue/src/index.scss";
@import "../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
@import "../node_modules/vue-airbnb-style-datepicker/dist/vue-airbnb-style-datepicker.min.css";

.error-message {
  margin-top: 2px;
  padding: 10px;
}

.error-message:empty
{
  display:none;
}

#main-content {
  width: 100%;
}

textarea:invalid,
input:invalid {
  box-shadow: none;
}

.form-group {
  position: relative;
}

.form-group .error-message {
  position: absolute;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  height: 20px;
  bottom: -20px;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.form-group .errors input,
.form-group .errors textarea,
.form-group .errors .vue-treeselect__control,
.form-group .errors .vue-treeselect__control:hover {
  border-color: #D00!important;
}

.form-group[required="required"] label.form-label:after {
  color: #D00;
  content: "*";
  margin-left: 3px;
}

.table-actions {
  text-align: right;
}

.btn-sm {
  width: 32px;
}