.capitalize-first-letter {
    display: inline-block;
}

th.capitalize-first-letter,
td.capitalize-first-letter {
  display: table-cell;
}

.capitalize-first-letter::first-letter,
button::first-letter,
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
th::first-letter,
label::first-letter {
    text-transform: capitalize;
}

.uri-field::first-letter {
  text-transform: none;
}

.field-view-title {
  min-width: 200px;
  font-weight: bold;
  display: block;
  float: left;
}

.field-view-title::first-letter {
  text-transform: capitalize;
}

.b-toaster {
    z-index: 12000!important;
}

@import "~vue-select/src/scss/vue-select.scss";

@import "~sl-vue-tree/dist/sl-vue-tree-dark.css";

@import "~vuelayers/lib/style.css";

@import "~@livelybone/vue-datepicker/lib/css/index.scss";

@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.dark.css";

.tree-button-group {
  float: right;
}

.sl-vue-tree-title {
  width: 100%;
}

.sl-vue-tree.sl-vue-tree-root {
  border: 1px solid #dee2e6;
  background-color: white;
  color: #545454;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item {
  color: #545454;
  background-color: #e9e9e9;
}

.sl-vue-tree-node-item {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.sl-vue-tree-node-item:hover,
.sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
  color: #545454;
  cursor: pointer;
  background-color: #f3f3f3;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item:hover,
.sl-vue-tree-selected > .sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
  color: black;
  background-color: #e9e9e9;
}

.sl-vue-tree-node-item {
  border: 1px solid transparent;
}

.sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
  border: 1px solid #545454;
}

.sl-vue-tree-cursor {
  border: 1px solid #545454;
}

.sl-vue-tree-drag-info {
  color: #e9e9e9;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}

.sl-vue-tree-toggle {
  width: 13px;
}

.sl-vue-tree-toggle {
  width: 13px;
}

.sl-vue-tree-node-is-leaf .sl-vue-tree-title {
  margin-left: 18px;
}

.sl-vue-tree .item-icon {
  display: inline-block;
  text-align: center;
  width: 15px;
}

@import "~@riophae/vue-treeselect/dist/vue-treeselect.css";

@import "~icon-kit/dist/css/iconkit.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";
$textSize: 12; 
@import "~vue-tabulator/dist/scss/bootstrap/tabulator_bootstrap4.scss";

@media (max-width: 768px) {
  .hidden-phone {
    display: none;
  }
}

.show-phone {
  display: none;
}

@media (max-width: 768px) {
  .show-phone {
    display: inline;
  }
}

.error-message {
  margin-top: 2px;
  padding: 10px;
}

.error-message:empty
{
  display: none;
}

#main-content {
  width: 100%;
}

textarea:invalid,
input:invalid {
  box-shadow: none;
}

.form-group {
  position: relative;
}

.form-group .error-message {
  position: absolute;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  height: 20px;
  line-height: 17px;
  top: 0px;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  /*font-size-adjust: 0.4;*/
}

.form-group .errors input,
.form-group .errors textarea,
.form-group .errors .vue-treeselect__control,
.form-group .errors .vue-treeselect__control:hover {
  border-color: #D00!important;
}

.vue-treeselect__label-container::first-letter,
.vue-treeselect__single-value::first-letter {
  text-transform: capitalize!important;
}

.form-group[required="required"] label.form-label:after {
  color: #D00;
  content: "*";
  margin-left: 3px;
}

.table-actions {
  text-align: right;
}

.btn-sm {
  width: 32px;
}

label {
  margin-bottom: 5px;
}

.btn {
  white-space: nowrap;
}

.uppercase-letters {
  text-transform: uppercase;
}


.tabulator .tabulator-header .tabulator-col.tabulator-sortable.required .tabulator-col-title{
  color: #D00; 
}


.tabulator .tabulator-row {
  min-height: 0.8rem;
  height: 30px;
}

.tabulator .tabulator-cell {
  height: 30px;
}

.tabulator .tabulator-col-content {
  height:30px;
}

.tabulator .tabulator-header .tabulator-col {
  border-right:1px solid #dee2e6;
}

.tabulator .tabulator-table .tabulator-row .tabulator-cell {
  border-right:1px solid #dee2e6;
}

.requiredOnCondition {
  color: blue; 
}

.badge-icon {
  padding: 4px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.badge-info-opensilex {
 background-color: #ffc107;
}

.b-toaster.b-toaster-bottom-center .b-toaster-slot, 
.b-toaster.b-toaster-top-center .b-toaster-slot ,
.b-toaster.b-toaster-bottom-center .b-toaster-slot .b-toast, 
.b-toaster.b-toaster-top-center .b-toaster-slot .b-toast,
.b-toaster.b-toaster-bottom-center .b-toaster-slot .b-toast .toast, 
.b-toaster.b-toaster-top-center .b-toaster-slot .b-toast .toast {
    max-width: 500px;
 }

.v-select.drop-up.vs--open .vs__dropdown-toggle {
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
  border-bottom-color: rgba(60, 60, 60, 0.26);
}

[data-popper-placement="top"] {
  border-radius: 4px 4px 0 0;
  border-top-style: solid;
  border-bottom-style: none;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.button-zone {
  padding-bottom: 20px;
}

.icon-title {
  margin-right: 5px!important;
}

label {
  white-space: nowrap;
}