.capitalize-first-letter {
    display: inline-block;
}

th.capitalize-first-letter,
td.capitalize-first-letter {
  display: table-cell;
}

.capitalize-first-letter::first-letter,
button::first-letter,
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
th::first-letter,
label::first-letter {
    text-transform: capitalize;
}

.b-toaster {
    z-index: 12000!important;
}

@import "vue-select/src/scss/vue-select.scss";

@import "../node_modules/sl-vue-tree/dist/sl-vue-tree-dark.css";

.tree-button-group {
  float: right;
}

.sl-vue-tree-title {
  width: 100%;
}

.sl-vue-tree.sl-vue-tree-root {
  border: 1px solid #dee2e6;
  background-color: white;
  color: #545454;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item {
  color: #545454;
  background-color: #e9e9e9;
}

.sl-vue-tree-node-item:hover,
.sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
  color: #545454;
  cursor: pointer;
  background-color: #f3f3f3;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item:hover,
.sl-vue-tree-selected > .sl-vue-tree-node-item.sl-vue-tree-cursor-hover {
  color: black;
  background-color: #e9e9e9;
}

.sl-vue-tree-node-item {
  border: 1px solid transparent;
}

.sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
  border: 1px solid #545454;
}

.sl-vue-tree-cursor {
  border: 1px solid #545454;
}

.sl-vue-tree-drag-info {
  color: #e9e9e9;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}

@import "../node_modules/@riophae/vue-treeselect/dist/vue-treeselect.css";

@import "../node_modules/icon-kit/dist/css/iconkit.min.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-vue/src/index.scss";
@import "../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
@import "../node_modules/vue-airbnb-style-datepicker/dist/vue-airbnb-style-datepicker.min.css";

.error-message {
  margin-top: 2px;
  padding: 10px;
}

.error-message:empty
{
  display:none;
}

#main-content {
  width: 100%;
}

.form-group[required="required"] > label:after {
  color: #D00;
  content: "*";
  margin-left: 3px;
}

.uri {
  word-break: keep-all;
}