/*********************************
* LOGIN PAGE
*********************************/
.auth-wrapper .lavalite-bg .lavalite-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(0,163,141,0.2) 0%, rgba(0,163,141,0.7) 100%);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}